.pokemon-card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible !important;
    margin-top: 40px;
    min-height: 120px;
    color: white;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

.pokemon-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    z-index: 1;
}

.pokemon-card-image-container {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.pokemon-card-image {
    width: 120px;
    height: 240px;
    object-fit: contain;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.pokemon-card-content {
    padding-top: 200px !important;
    text-align: center;
}

.pokemon-id {
    opacity: 0.8;
    font-weight: bold;
}

.pokemon-name {
    text-transform: capitalize;
    font-weight: bold;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.pokemon-type-chip {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: white !important;
    font-weight: bold;
    text-transform: capitalize;
}

.favorite-button {
    z-index: 10;
    margin-top: 10px !important;
}